@page "/spaceships"
@inject HttpClient Http

<h3>Spaceships Table</h3>

<style>
    /* DivTable.com */
    .divTable {
        display: table;
        width: 100%;
    }

    .divTableRow {
        display: table-row;
    }

    .divTableCell, .divTableHead {
        display: table-cell;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }
</style>

@if (Spaceships == null)
{
    <span>Loading data...</span>
}
else
{
    <div class="divTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead"></div>
                <div class="divTableHead">Name</div>
                <div class="divTableHead">Capacity</div>
                <div class="divTableHead">Energy</div>
                <div class="divTableHead">Firepower</div>
                <div class="divTableHead">Fuel</div>
                <div class="divTableHead">Hull</div>
                <div class="divTableHead">Speed</div>
                <div class="divTableHead">Staff</div>
                <div class="divTableHead">Weight</div>
                <div class="divTableHead">Fleet</div>
                <div class="divTableHead">Shipyard</div>
            </div>
        </div>
        <div class="divTableBody">
            @foreach (var (ship, ctx) in Spaceships)
            {
                var s = ship;
                var c = ctx;
                <EditForm class="divTableRow" EditContext="@c"
                          @onfocusout="@(async () => await SubmitChanges(s, c))">
                    <DataAnnotationsValidator />

                    <div class="divTableCell">
                        <button class="btn btn-link" @onclick="@(async () => await Remove(s, c))">
                            Remove
                        </button>
                    </div>

                    <div class="divTableCell">
                        <InputText @bind-Value="s.Name" />
                        <ValidationMessage For="@(() => s.Name)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Capacity" />
                        <ValidationMessage For="@(() => s.Capacity)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Energy" />
                        <ValidationMessage For="@(() => s.Energy)" />
                    </div>
                    <ValidationMessage For="@(() => s.Energy)" />
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Firepower" />
                        <ValidationMessage For="@(() => s.Firepower)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Fuel" />
                        <ValidationMessage For="@(() => s.Fuel)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Hull" />
                        <ValidationMessage For="@(() => s.Hull)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Speed" />
                        <ValidationMessage For="@(() => s.Speed)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Staff" />
                        <ValidationMessage For="@(() => s.Staff)" />
                    </div>
                    <div class="divTableCell">
                        <InputNumber @bind-Value="s.Weight" />
                        <ValidationMessage For="@(() => s.Weight)" />
                    </div>
                    <div class="divTableCell">
                        <InputSelectNumber @bind-Value="@s.FleetId">
                            @foreach (var f in Fleets)
                            {
                                var fleet = f;
                                <option value="@fleet.Id">@fleet.Name</option>
                            }
                        </InputSelectNumber>
                        <ValidationMessage For="@(() => s.FleetId)" />
                    </div>
                    <div class="divTableCell">
                        <InputSelectNumber @bind-Value="@s.ShipyardId">
                            @foreach (var s in Shipyards)
                            {
                                var shipyard = s;
                                <option value="@shipyard.Id">@shipyard.Name</option>
                            }
                        </InputSelectNumber>
                        <ValidationMessage For="@(() => s.ShipyardId)" />
                    </div>
                </EditForm>
            }
            <div class="divTableRow">
                <div class="divTableCell">
                    <button class="btn btn-link" @onclick="Create">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<(Spaceship ship, EditContext context)> Spaceships { get; set; }
    private List<Fleet> Fleets { get; set; }
    private List<Shipyard> Shipyards { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InitFleets();
        await InitShipyards();
        await InitSpaceships();
    }

    private async Task InitFleets()
    {
        var result = await Http.GetJsonAsync<IEnumerable<Fleet>>("api/fleets")
            .ConfigureAwait(false);
        Fleets = result.OrderBy(f => f.Id)
                       .ToList();
    }

    private async Task InitShipyards()
    {
        var result = await Http.GetJsonAsync<IEnumerable<Shipyard>>("api/shipyards")
            .ConfigureAwait(false);
        Shipyards = result.OrderBy(s => s.Id)
                          .ToList();
    }

    private async Task InitSpaceships()
    {
        var result = await Http.GetJsonAsync<IEnumerable<Spaceship>>("api/Spaceships")
            .ConfigureAwait(false);
        Spaceships = result
            .OrderBy(s => s.Id)
            .Select<Spaceship, (Spaceship, EditContext)>(s => (s, new EditContext(s)))
            .ToList();
    }

    private void Create()
    {
        var ship = new Spaceship();
        var ctx = new EditContext(ship);
        Spaceships.Add((ship, ctx));
        StateHasChanged();
    }

    private async Task Remove(Spaceship ship, EditContext ctx)
    {
        Spaceships.Remove((ship, ctx));
        StateHasChanged();
        if (ship.Id != 0)
        {
            await Http.DeleteAsync($"api/spaceships/{ship.Id}")
                .ConfigureAwait(false);
        }
    }

    private async Task SubmitChanges(Spaceship ship, EditContext ctx)
    {
        if (!ctx.Validate() || !ctx.IsModified())
        {
            return;
        }
        if (ship.Id == 0)
        {
            var created = await Http.PostJsonAsync<Spaceship>("api/spaceships", ship)
                .ConfigureAwait(false);
            ship.Id = created.Id;
        }
        else
        {
            await Http.PutJsonAsync($"api/spaceships/{ship.Id}", ship)
                .ConfigureAwait(false);
        }
    }
}
